<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class = "text-center">Book a Flight</h1>
    <div ngIf* = "flight$">
        <app-view-users [user$] = "user$" (selectedUser) = "onSelect($event)">
        </app-view-users>
    </div>
    <div ngIf* = "users">
        <app-view-flights [flight$] = "flight$" (selectedFlight) = "onSelect($event)">
        </app-view-flights>
    </div>
    
</body>
</html>